<%= form_with model: @study_record, url: study_records_path do |form| %>
  <% if @study_record.errors.any? %>
    <div class="error-banner" role="alert">
      <ul>
        <% @study_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend class="field-label">時間を選ぶ</legend>

    <div class="segments">
      <% StudyRecord::ALLOWED_PLANNED_MINUTES.each do |minutes| %>
        <%= form.radio_button :planned_minutes, minutes, class: "segment-input" %>
        <%= form.label :planned_minutes, value: minutes, class: "segment-label" do %>
          <span class="num"><%= minutes %></span>分
        <% end %>
      <% end %>
    </div>
  </fieldset>

  <div>
    <%= form.label :activity %>
    <%= form.text_field :activity %>
  </div>

  <%= form.submit "学習を開始する" %>
<% end %>
